.styles_text__Fvsk7 {
  --x: 50%;
  --y: 50%;
  --width: 50%;
  padding-bottom: 2px;
  background: radial-gradient(
    50% 100% at 50% 50%,
    #fff 30%,
    hsla(0, 0%, 100%, 0.5) 100%
  );
  background: radial-gradient(
    var(--width) 100% at var(--x) var(--y),
    #fff 30%,
    hsla(0, 0%, 100%, 0.5) 100%
  );
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Cta_container__pNx4T {
  padding: 0 var(--token-32);
  top: 0;
  overflow: hidden;
  position: relative;
}
.Cta_container__pNx4T h2 {
  text-align: center;
  margin-bottom: var(--token-20);
}
.Cta_container__pNx4T p {
  width: 400px;
  line-height: 1.75;
  margin: 0 auto var(--token-32) auto;
  text-align: center;
}
@media (max-width: 999px) {
  .Cta_container__pNx4T {
    padding: 0;
  }
  .Cta_container__pNx4T p {
    width: calc(100% - var(--token-64));
  }
}
.Cta_gradientWrapper__lGHRR {
  height: 100%;
  background: radial-gradient(
    140% 107.13% at 50% 10%,
    transparent 37.41%,
    #63e 69.27%,
    #fff 100%
  );
  border-radius: var(--token-48);
}
.Cta_maxWidthWrapper__su_4C {
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.Cta_maxWidthWrapper__su_4C:hover img {
  opacity: 0.25;
}
@media (max-width: 599px) {
  .Cta_maxWidthWrapper__su_4C {
    max-width: calc(100% - var(--token-40));
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .Cta_maxWidthWrapper__su_4C {
    max-width: calc(100% - var(--token-128));
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .Cta_maxWidthWrapper__su_4C {
    max-width: 850px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .Cta_maxWidthWrapper__su_4C {
    max-width: 1000px;
  }
}
@media (min-width: 1500px) and (max-width: 1999px) {
  .Cta_maxWidthWrapper__su_4C {
    max-width: 1100px;
  }
}
@media (min-width: 2000px) {
  .Cta_maxWidthWrapper__su_4C {
    max-width: 1200px;
  }
}
@media (max-width: 999px) {
  .Cta_maxWidthWrapper__su_4C {
    padding: var(--token-128) var(--token-24);
  }
}
.Cta_textWrapper__d5r6y {
  max-width: calc(var(--max-width) * 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 799px) {
  .Cta_textWrapper__d5r6y {
    padding: 0 var(--token-20);
  }
}
.GridSection_container__aD83r {
  border: 1px solid var(--grey-80);
  margin-left: -1px;
  margin-bottom: -1px;
  position: relative;
}
.GridSection_container__aD83r:after {
  top: -1px;
}
.GridSection_container__aD83r:after,
.GridSection_container__aD83r:before {
  content: "";
  position: absolute;
  left: -200%;
  width: 200vw;
  height: 1px;
  background: var(--grey-80);
  z-index: 0;
}
.GridSection_container__aD83r:before {
  bottom: -1px;
}
.GridSection_container__aD83r[data-container="true"]:after,
.GridSection_container__aD83r[data-container="true"]:before {
  display: none;
}
.GridSection_joint__3AfU7 {
  position: absolute;
  z-index: 1;
}
.GridSection_bl__6vURw {
  width: 1px;
  height: 1px;
  bottom: -1px;
  left: -1px;
}
.GridSection_bl__6vURw:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}
.GridSection_bl__6vURw:before {
  background: #fff;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.GridSection_br__AUY5M {
  width: 1px;
  height: 1px;
  bottom: -1px;
  right: -1px;
}
.GridSection_br__AUY5M:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}
.GridSection_br__AUY5M:before {
  background: #fff;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.GridSection_tl__AnAX2 {
  width: 1px;
  height: 1px;
  top: -1px;
  left: -1px;
}
.GridSection_tl__AnAX2:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}
.GridSection_tl__AnAX2:before {
  background: #fff;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.GridSection_tr__NMCvH {
  width: 1px;
  height: 1px;
  top: -1px;
  right: -1px;
}
.GridSection_tr__NMCvH:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}
.GridSection_tr__NMCvH:before {
  background: #fff;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.Card_container__rgpnr {
  position: relative;
  --x: 0px;
  --y: 0px;
}
.Card_logoContainer__i0jjK {
  padding: var(--token-24);
}
.Card_logoContainer__i0jjK img {
  width: 90%;
  z-index: 1;
}
.Card_hoverContainer__CP2qo {
  width: 100%;
  border-radius: var(--token-32);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.Card_hoverContainer__CP2qo:hover .Card_characters__mS7bd {
  opacity: 1;
}
.Card_hoverContainer__CP2qo:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    var(--grey-90) 40%,
    var(--primary) 50%,
    var(--primary-light),
    #f92672
  );
  mix-blend-mode: darken;
  content: "";
}
.Card_metaContainer__gwmgx {
  padding: var(--token-04) var(--token-32) var(--token-32) var(--token-32);
}
.Card_description__mNRrU {
  font-size: 15px;
  margin-bottom: var(--token-08);
}
.Card_useCase__EREbB {
  font-size: 14px;
  color: var(--grey-00);
  border: 1px solid var(--grey-70);
  display: inline-block;
  padding: 4px var(--token-12);
  border-radius: var(--token-24);
  margin-right: var(--token-08);
  line-height: normal;
}
.Card_characters__mS7bd {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  font-size: var(--token-16);
  overflow: hidden;
  font-family: var(--font-family-monospace);
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  -webkit-mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  transform: scale(1.025);
}
.Nodes_diagram__x0qtO {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.Nodes_node__I7o9U {
  flex: 1 1;
  z-index: 2;
  width: -moz-max-content;
  width: max-content;
  display: inline-flex;
  justify-content: center;
}
.Nodes_nodes__ODlnK {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Nodes_nodes__ODlnK[data-direction="vertical"] {
  flex-direction: column;
}
.Nodes_group__AJxIk {
  gap: 30px;
  display: flex;
}
@media (max-width: 600px) {
  .Nodes_group__AJxIk {
    gap: 30px;
  }
}
.Nodes_group__AJxIk[data-direction="horizontal"] {
  flex-direction: column;
}
.Nodes_group__AJxIk[data-direction="horizontal"]:first-child {
  margin-right: auto;
}
.Nodes_group__AJxIk[data-direction="horizontal"]:last-child {
  margin-left: auto;
}
.Nodes_group__AJxIk[data-direction="vertical"] {
  flex-direction: row;
}
.Nodes_group__AJxIk[data-direction="vertical"]:first-child {
  margin-bottom: auto;
}
.Nodes_group__AJxIk[data-direction="vertical"]:last-child {
  margin-top: auto;
}
.Nodes_nodeContents__EivJ3 {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
}
.Nodes_connection__t0RgQ {
  z-index: 0;
}
.Nodes_connection__t0RgQ,
.Nodes_connection__t0RgQ svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.Nodes_request__FTxAz {
  width: 30px;
  height: 1px;
  position: absolute;
  offset-path: path(var(--path));
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.Nodes_request__FTxAz:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 4px hsla(0, 0%, 100%, 0.4);
}
.Nodes_request__FTxAz[data-encrypted="true"]:before {
  box-shadow: 0 0 8px 5px #5e38ff;
}
.Nodes_logo__zeFEY {
  width: 60px;
  height: 60px;
  display: grid;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-items: center;
  place-items: center;
  border: 1px solid #eecbff;
  background: radial-gradient(
    128.5% 107.13% at 50% 2.92%,
    #000 37.41%,
    #63e 69.27%,
    #fff 100%
  );
  box-shadow:
    0 0 20px 2px #5e38ff,
    0 4px 80px rgba(147, 64, 223, 0.6),
    inset 0 0 10px 2px #5e38ff,
    inset 0 4px 40px rgba(147, 64, 223, 0.6);
}
.Nodes_logo__zeFEY svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 600px) {
  .Nodes_logo__zeFEY {
    width: 50px;
    height: 50px;
  }
  .Nodes_logo__zeFEY svg {
    width: 25px;
    height: 25px;
  }
}
.Nodes_logoLabel__yPibG {
  height: 20px;
  bottom: -35px;
  padding: 0 8px;
  font-size: 10px;
  position: absolute;
  border-radius: 15px;
  display: inline-flex;
  background: hsla(0, 0%, 100%, 0.1);
  box-shadow: inset 0 0 0 0.5px hsla(0, 0%, 100%, 0.08);
}
.Nodes_logoLabel__yPibG,
.Nodes_service__tkD2L {
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}
.Nodes_service__tkD2L {
  font-size: 11px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 8px;
  position: relative;
  background: #010314;
  border: 1px solid hsla(0, 0%, 100%, 0.14);
  box-shadow: 0 1px 2px rgba(1, 3, 20, 0.4);
}
.Nodes_service__tkD2L .Nodes_serviceLabel__eytPs {
  display: flex;
  align-items: center;
}
.Nodes_service__tkD2L .Nodes_nodeIcon__f9TDZ {
  height: 28px;
  padding: 0 10px;
  align-items: center;
  display: inline-flex;
  border-right: 1px solid hsla(0, 0%, 100%, 0.12);
}
.Nodes_service__tkD2L .Nodes_nodeName__bOZwf {
  height: 28px;
  padding: 0 10px;
  align-items: center;
  display: inline-flex;
  font-weight: 500;
}
.Nodes_service__tkD2L .Nodes_nodeIcon__f9TDZ svg {
  width: 12px;
  height: 12px;
}
.Nodes_service__tkD2L .Nodes_payload__uY5OL {
  line-height: 1;
  font-size: 10px;
  padding: 10px;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: var(--font-family-monospace);
  border-top: 1px solid hsla(0, 0%, 100%, 0.12);
}
.Nodes_service__tkD2L[data-glow="true"] {
  font-weight: 800;
  border: 1px solid #eecbff;
  box-shadow:
    0 0 10px 2px #5e38ff,
    0 4px 80px rgba(147, 64, 223, 0.6),
    inset 0 0 10px 2px #5e38ff,
    inset 0 4px 40px rgba(147, 64, 223, 0.6);
}
.Nodes_service__tkD2L[data-glow="true"] .Nodes_nodeIcon__f9TDZ {
  border-color: hsla(0, 0%, 100%, 0.3);
}
.Nodes_payloadKey__gAhYS {
  color: var(--grey-30);
}
.Nodes_payloadValue__9VuFD {
  z-index: 1;
  color: #fff;
  position: relative;
}
.Nodes_payloadValue__9VuFD[data-highlight] {
  -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
  mask-image: linear-gradient(90deg, #000 90%, transparent);
  background-color: #a584ff;
  background-image: linear-gradient(
    115deg,
    #a584ff,
    #a584ff 30%,
    #fff 50%,
    #a584ff,
    80%,
    #a584ff
  );
  background-repeat: no-repeat;
  background-size: 100% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: Nodes_shimmer___K8KA 3s linear infinite;
}
@keyframes Nodes_shimmer___K8KA {
  0% {
    background-position: -200px;
  }
  to {
    background-position: 200px;
  }
}
.HumaansDiagram_container__ZzSNr {
  border: 1px solid var(--grey-80);
  border-radius: var(--token-20);
  margin-bottom: var(--token-40);
  width: calc(100% + var(--token-40));
  margin-left: calc(var(--token-20) * -1);
}
.HumaansDiagram_diagram__IPvPA {
  height: 300px;
  padding: var(--token-32);
}
.HumaansDiagram_description__FqnLr {
  font-size: 0.75rem;
  padding: var(--token-12) var(--token-16);
  border-top: 1px solid var(--grey-80);
  color: var(--grey-50);
}
.HumaansDiagram_request__Z2hXK {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.HumaansDiagram_request__Z2hXK:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 4px hsla(0, 0%, 100%, 0.4);
}
.HumaansDiagram_encryptedRequest__8zWST {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.HumaansDiagram_encryptedRequest__8zWST:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 5px #5e38ff;
}
.CodeTabs_container___fKbI {
  backround: red;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
  padding-top: var(--token-08);
  padding-left: var(--token-08);
  padding-right: var(--token-08);
  position: relative;
}
.CodeTabs_tabs__JW7qa {
  display: flex;
  position: relative;
}
.CodeTabs_filler__Dwp7Z {
  display: block;
  width: 100%;
  border-top-right-radius: var(--token-12);
  border: 1px solid hsla(0, 0%, 100%, 0.175);
  border-bottom: none;
  border-left: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--token-08);
  position: relative;
  overflow: hidden;
}
.CodeTabs_filler__Dwp7Z:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% + 1px);
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.075), transparent);
}
.CodeTabs_tab__LO7L_ {
  background: hsla(0, 0%, 100%, 0.075);
  color: hsla(0, 0%, 100%, 0.25);
  font-size: 0.75rem;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-bottom: none;
  border-left: 1px solid hsla(0, 0%, 100%, 0);
  padding: var(--token-04) var(--token-16);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.25s;
}
.CodeTabs_tab__LO7L_[data-active="false"] {
  background: hsla(0, 0%, 100%, 0.05);
  border-radius: none;
}
.CodeTabs_tab__LO7L_:after {
  content: "";
  position: absolute;
  opacity: 1;
  left: 0;
  top: 100%;
  height: 0;
  width: 100%;
  transition: 0.5s;
}
.CodeTabs_tab__LO7L_:first-of-type {
  border-top-left-radius: var(--token-12);
}
.CodeTabs_tab__LO7L_:hover {
  color: var(--grey-00);
}
.CodeTabs_active__JXkR1 {
  color: var(--grey-00);
  background: transparent;
  border-top: 1px solid hsla(0, 0%, 100%, 0);
  border-right: 1px solid hsla(0, 0%, 100%, 0);
  position: relative;
}
.CodeTabs_active__JXkR1:after {
  content: "";
  position: absolute;
  opacity: 1;
  left: 0;
  top: 100%;
  height: var(--token-24);
  width: 100%;
  opacity: 0.1;
  background: linear-gradient(var(--grey-00), transparent);
}
.CodeTabs_afterActive__tesWW {
  border-top-left-radius: var(--token-12);
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
}
.CodeTabs_beforeActive___mviz {
  border-top-right-radius: var(--token-12);
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
.CodeTabs_fillerAfterActive__vFWtt {
  border-top-left-radius: var(--token-12);
}
.CodeTabs_fillerAfterActive__vFWtt,
.CodeTabs_firstActive__pEGBw {
  border-left: 1px solid hsla(0, 0%, 100%, 0.15);
}
.NessDiagram_container__3bkqL {
  border: 1px solid var(--grey-80);
  border-radius: var(--token-20);
  margin-bottom: var(--token-40);
  width: calc(100% + var(--token-40));
  margin-left: calc(var(--token-20) * -1);
}
.NessDiagram_diagram__gP4kF {
  height: 300px;
  padding: var(--token-32);
}
.NessDiagram_description__z9ZFi {
  font-size: 0.75rem;
  padding: var(--token-12) var(--token-16);
  border-top: 1px solid var(--grey-80);
  color: var(--grey-50);
}
.NessDiagram_request__v_H8h {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.NessDiagram_request__v_H8h:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 4px hsla(0, 0%, 100%, 0.4);
}
.NessDiagram_encryptedRequest__g0ZVM {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.NessDiagram_encryptedRequest__g0ZVM:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 5px #5e38ff;
}
.MeiliDiagram_container__eqh_I {
  border: 1px solid var(--grey-80);
  border-radius: var(--token-20);
  margin-bottom: var(--token-40);
  width: calc(100% + var(--token-40));
  margin-left: calc(var(--token-20) * -1);
}
.MeiliDiagram_diagram__LUmLq {
  height: 300px;
  padding: var(--token-32);
}
.MeiliDiagram_description__SANwT {
  font-size: 0.75rem;
  padding: var(--token-12) var(--token-16);
  border-top: 1px solid var(--grey-80);
  color: var(--grey-50);
}
.MeiliDiagram_request__aJQPZ {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.MeiliDiagram_request__aJQPZ:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 4px hsla(0, 0%, 100%, 0.4);
}
.MeiliDiagram_encryptedRequest__bHZsO {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.MeiliDiagram_encryptedRequest__bHZsO:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 5px #5e38ff;
}
.SwanDiagram_container__k0XlP {
  border: 1px solid var(--grey-80);
  border-radius: var(--token-20);
  margin-bottom: var(--token-40);
  width: calc(100% + var(--token-40));
  margin-left: calc(var(--token-20) * -1);
}
.SwanDiagram_diagram__Y3ywS {
  height: 300px;
  padding: var(--token-32);
}
.SwanDiagram_description__9hXjs {
  font-size: 0.75rem;
  padding: var(--token-12) var(--token-16);
  border-top: 1px solid var(--grey-80);
  color: var(--grey-50);
}
.SwanDiagram_request__w8pkT {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.SwanDiagram_request__w8pkT:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 4px hsla(0, 0%, 100%, 0.4);
}
.SwanDiagram_encryptedRequest__RP53H {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.SwanDiagram_encryptedRequest__RP53H:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 5px #5e38ff;
}
.VitalDiagram_container__8LxAt {
  border: 1px solid var(--grey-80);
  border-radius: var(--token-20);
  margin-bottom: var(--token-40);
  width: calc(100% + var(--token-40));
  margin-left: calc(var(--token-20) * -1);
}
.VitalDiagram_diagram__i_PjE {
  height: 300px;
  padding: var(--token-32);
}
.VitalDiagram_description__hVJ05 {
  font-size: 0.75rem;
  padding: var(--token-12) var(--token-16);
  border-top: 1px solid var(--grey-80);
  color: var(--grey-50);
}
.VitalDiagram_request__vdxQa {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.VitalDiagram_request__vdxQa:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 4px hsla(0, 0%, 100%, 0.4);
}
.VitalDiagram_encryptedRequest__yRzCm {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.VitalDiagram_encryptedRequest__yRzCm:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 5px #5e38ff;
}
.BridgecardDiagram_container__LvqtH {
  border: 1px solid var(--grey-80);
  border-radius: var(--token-20);
  margin-bottom: var(--token-40);
  width: calc(100% + var(--token-40));
  margin-left: calc(var(--token-20) * -1);
}
.BridgecardDiagram_diagram__2bwnK {
  height: 300px;
  padding: var(--token-32);
}
.BridgecardDiagram_description__waZ_k {
  font-size: 0.75rem;
  padding: var(--token-12) var(--token-16);
  border-top: 1px solid var(--grey-80);
  color: var(--grey-50);
}
.BridgecardDiagram_request__aOXlA {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.BridgecardDiagram_request__aOXlA:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 4px hsla(0, 0%, 100%, 0.4);
}
.BridgecardDiagram_encryptedRequest__CSZcn {
  width: 30px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(238, 203, 255, 0), #eecbff);
}
.BridgecardDiagram_encryptedRequest__CSZcn:before {
  content: "";
  width: 3px;
  height: 3px;
  right: 0;
  top: -1px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 5px #5e38ff;
}
.ExpandedCard_container__PcMcC {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--grey-100);
  z-index: 1;
}
.ExpandedCard_container__PcMcC p {
  font-size: 16px;
}
.ExpandedCard_scrollContainer__N3aIm {
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.ExpandedCard_contentContainer__B0qpv {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: var(--token-80);
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: var(--token-80);
}
@media (max-width: 599px) {
  .ExpandedCard_contentContainer__B0qpv {
    max-width: calc(100% - var(--token-40));
    grid-template-columns: 1fr;
    padding-top: 10rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .ExpandedCard_contentContainer__B0qpv {
    max-width: calc(100% - var(--token-128));
    grid-template-columns: 1fr;
    padding-top: 10rem;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .ExpandedCard_contentContainer__B0qpv {
    max-width: 850px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .ExpandedCard_contentContainer__B0qpv {
    max-width: 1000px;
  }
}
@media (min-width: 1500px) and (max-width: 1999px) {
  .ExpandedCard_contentContainer__B0qpv {
    max-width: 1100px;
  }
}
@media (min-width: 2000px) {
  .ExpandedCard_contentContainer__B0qpv {
    max-width: 1200px;
  }
}
.ExpandedCard_overview__SlgG2 {
  height: 100%;
  width: 100%;
  position: relative;
}
.ExpandedCard_logoContainer__9IWlX {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ExpandedCard_logoContainer__9IWlX img {
  width: 80%;
}
.ExpandedCard_content__f7LWg {
  height: 100%;
  width: 100%;
  padding: 0 var(--token-12);
}
.ExpandedCard_content__f7LWg p {
  margin-bottom: var(--token-32);
}
.ExpandedCard_content__f7LWg h5 {
  margin-bottom: var(--token-08);
}
.ExpandedCard_overviewItem__eOWVe {
  display: flex;
  flex-direction: column;
  gap: var(--token-02);
  align-items: flex-start;
  padding: var(--token-16) var(--token-24);
}
.ExpandedCard_overviewItem__eOWVe p {
  margin: 0;
  font-size: 0.9rem;
}
.ExpandedCard_category__6NpCj {
  color: var(--grey-60);
}
.ExpandedCard_quote__3f0nU {
  font-size: var(--token-40);
  line-height: 1.2;
  background: radial-gradient(
    45% 100% at 50% 50%,
    #fff 30%,
    hsla(0, 0%, 100%, 0.4) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: var(--token-32);
  position: relative;
  padding-left: 1.5rem;
  margin-left: -1.5rem;
}
.ExpandedCard_pill__Kkv4z {
  font-size: 14px;
  color: var(--grey-00);
  border: 1px solid var(--grey-70);
  display: inline-block;
  padding: 4px var(--token-12);
  border-radius: var(--token-24);
  line-height: normal;
  margin-right: var(--token-08);
}
.ExpandedCard_pill__Kkv4z[data-size="small"] {
  font-size: 12px;
}
.ExpandedCard_backButton__OsOIi {
  position: absolute;
  bottom: calc(100% + var(--token-24));
  link-styling: none;
  cursor: pointer;
  font-size: 1rem;
  color: #ad8eff;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: var(--token-24);
  transition: 0.25s;
  margin-left: -10px;
}
.ExpandedCard_backButton__OsOIi svg {
  transition: 0.25s;
}
.ExpandedCard_backButton__OsOIi a {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.ExpandedCard_backButton__OsOIi span {
  display: flex;
  align-items: center;
  gap: var(--token-04);
}
.ExpandedCard_backButton__OsOIi:hover {
  color: #c7b2ff;
  background: hsla(0, 0%, 100%, 0.12);
}
.ExpandedCard_backButton__OsOIi:hover svg {
  transform: translateX(-3px);
}
.ExpandedCard_diagram__jcUIn {
  height: 300px;
  border: 1px solid var(--grey-80);
  margin-bottom: var(--token-32);
  border-radius: var(--token-32);
}
.Cards_container__O2VPh {
  margin: 0 auto;
}
@media (max-width: 599px) {
  .Cards_container__O2VPh {
    max-width: calc(100% - var(--token-40));
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .Cards_container__O2VPh {
    max-width: calc(100% - var(--token-128));
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .Cards_container__O2VPh {
    max-width: 850px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .Cards_container__O2VPh {
    max-width: 1200px;
  }
}
@media (min-width: 1500px) and (max-width: 1999px) {
  .Cards_container__O2VPh {
    max-width: 1300px;
  }
}
@media (min-width: 2000px) {
  .Cards_container__O2VPh {
    max-width: 1400px;
  }
}
.Cards_cards__DAnJJ {
  padding-top: var(--token-128);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  background: var(--grey-100);
}
.Cards_cards__DAnJJ:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 200px;
  bottom: calc(100%);
  left: 0;
  z-index: -1;
  opacity: 1;
}
@media (max-width: 999px) {
  .Cards_cards__DAnJJ {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 599px) {
  .Cards_cards__DAnJJ {
    grid-template-columns: 1fr;
    padding-top: var(--token-40);
  }
}
.Cards_logoContainer__2henO {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--token-48) 0;
}
@media (max-width: 599px) {
  .Cards_logoContainer__2henO {
    padding: var(--token-24) 0;
  }
}
.Cards_logo__z5TXd {
  width: 60%;
}
.CircularIndicator_container__xZoj_ {
  position: absolute;
  left: calc(50% - 2px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  width: var(--width);
  height: var(--width);
}
.CircularIndicator_loader__yHp6P {
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.CircularIndicator_face__3J9gy {
  position: absolute;
  border-radius: 50%;
  animation: CircularIndicator_animate__TUIxr 3s linear infinite;
  width: 100%;
  height: 100%;
  color: #fff;
  border-color: transparent currentcolor currentcolor transparent;
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  animation-direction: normal;
}
@keyframes CircularIndicator_animate__TUIxr {
  to {
    transform: rotate(-1turn);
  }
}
.Hero_container__YFQBO {
  height: 100vh;
  width: 100%;
  margin-top: calc(-1 * var(--token-96));
  padding: 0 var(--token-32);
  top: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.Hero_container__YFQBO canvas {
  border-bottom-left-radius: var(--token-48);
  border-bottom-right-radius: var(--token-48);
  width: 100%;
  height: 100%;
}
@media (max-width: 999px) {
  .Hero_container__YFQBO {
    padding: 0;
    margin-top: 0;
    height: calc(85vh - var(--token-96));
  }
}
@media (min-width: 2000px) {
  .Hero_container__YFQBO {
    height: 80vh;
  }
}
.Hero_container__YFQBO:before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% - var(--token-64));
  left: var(--token-32);
  top: 0;
  background: radial-gradient(
    140% 107.13% at 50% 10%,
    transparent 35%,
    rgba(102, 51, 238, 0.5) 70%,
    #fff 100%
  );
  border-radius: var(--token-48);
  z-index: -1;
}
@media (max-width: 999px) {
  .Hero_container__YFQBO:before {
    width: 100%;
    left: 0;
  }
}
.Hero_container__YFQBO:after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% - var(--token-64));
  left: var(--token-32);
  top: 0;
  background: radial-gradient(
    140% 107.13% at 50% 10%,
    transparent 35%,
    rgba(102, 51, 238, 0.5) 70%,
    #fff 100%
  );
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: var(--token-48);
}
@media (max-width: 999px) {
  .Hero_container__YFQBO:after {
    width: 100%;
    left: 0;
  }
}
.Hero_modelWrapper__uzEBi {
  width: 100%;
  height: 100%;
}
.Hero_heroCopy__sCR92 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.Hero_title__11rLl {
  font-size: 48px;
  text-align: center;
  margin-bottom: 12px;
}
@media (max-height: 700px) {
  .Hero_title__11rLl {
    font-size: 35px;
  }
}
@media (max-width: 699px) {
  .Hero_title__11rLl {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
.Hero_subTitle__uXPB0 {
  margin: 0 auto;
  font-size: 16px;
  max-width: 300px;
  background: radial-gradient(
    50% 100% at 50% 50%,
    #fff 30%,
    hsla(0, 0%, 100%, 0.6) 100%
  );
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-height: 700px) {
  .Hero_subTitle__uXPB0 {
    font-size: 14px;
  }
}
@media (max-width: 699px) {
  .Hero_subTitle__uXPB0 {
    font-size: 12px;
    max-width: 220px;
    margin-bottom: 16px;
  }
}
.Hero_helper__pUQ9d {
  position: absolute;
  top: 50%;
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 2px solid #fff;
}
.Hero_scroll__iQh0j {
  position: absolute;
  bottom: var(--token-32);
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  background: transparent;
  border: none;
  color: var(--grey-00);
  display: flex;
  flex-direction: column;
  opacity: 0.75;
  transition: 0.25s;
  cursor: pointer;
}
.Hero_scroll__iQh0j:hover {
  opacity: 1;
}
.Hero_chevron__mM1TF:last-of-type {
  animation: Hero_glow__Ae_GH 3s infinite;
  margin-top: -20px;
}
.Hero_chevron__mM1TF:first-of-type {
  animation: Hero_glow__Ae_GH 3s infinite;
  animation-delay: 0.75s;
  opacity: 0;
}
@keyframes Hero_glow__Ae_GH {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.Layout_layout__6J70X {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Layout_main__k2ohw {
  flex-grow: 1;
  min-width: 100%;
  overflow-x: clip;
  position: relative;
}
.Layout_section__n31V6 {
  min-height: 75vh;
  padding: 3rem 0;
}
@media (min-width: 992px) {
  .Layout_section__n31V6 {
    padding: 5rem 0;
  }
}
@media (min-width: 1248px) {
  .Layout_section__n31V6 {
    padding: 6rem 0;
  }
}
@media (min-width: 1408px) {
  .Layout_section__n31V6 {
    padding: 8rem 0;
  }
}
@media (min-height: 900px) {
  .Layout_section__n31V6 {
    min-height: 30rem;
  }
}
.Layout_card__4Gxa5 {
  border-radius: 1.5rem;
  background: hsla(0, 0%, 100%, 0.035);
  box-shadow:
    inset 6px 84px 79px -40px hsla(0, 0%, 100%, 0.025),
    inset 0 -4px 1px -3px hsla(0, 0%, 100%, 0.25),
    inset 0 4px 1px -3px hsla(0, 0%, 100%, 0.25);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
}
@media (max-width: 600px) {
  .Layout_card__4Gxa5 {
    border-radius: 1rem;
  }
}
.Layout_cardSm__wzRPG {
  padding: 0;
  border-radius: var(--radius-sm);
  border-radius: 1.5rem;
}
.Layout_cardSm__wzRPG figure {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}
.Layout_cardSm__wzRPG figure:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: var(--radius-sm);
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1);
}
.Layout_cardSm__wzRPG img,
.Layout_cardSm__wzRPG video {
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  transition: all 12s;
  will-change: transform;
}
.Layout_cardSm__wzRPG:hover img {
  transform: scale(1.1);
}
@media (max-width: 600px) {
  .Layout_cardSm__wzRPG {
    border-radius: 1rem;
  }
}
.Layout_containedSection__F3yCP {
  border-radius: var(--radius-md);
  background: var(--bg-card);
  box-shadow:
    inset 0 1px 0 hsla(0, 0%, 100%, 0.05),
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 8px 32px rgba(0, 0, 0, 0.05);
}
@media (min-width: 576px) {
  .Layout_postList__ngm8u > div:first-child {
    margin-top: var(--token-48);
  }
}
@media (min-width: 768px) {
  .Layout_postList__ngm8u > div:first-child {
    margin-top: var(--token-96);
  }
  .Layout_postList__ngm8u > :nth-child(3) {
    margin-top: var(--token-56);
  }
}
@media (min-width: 576px) {
  .Layout_teamList__Zp6Sg > div:first-child {
    margin-top: var(--token-64);
  }
}
@media (min-width: 768px) {
  .Layout_teamList__Zp6Sg > div:nth-child(3) {
    margin-top: var(--token-56);
  }
}
@media (min-width: 992px) {
  .Layout_teamList__Zp6Sg > div:nth-child(4) {
    margin-top: var(--token-128);
  }
}
.Layout_glow__5fr_J {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 40%;
  background: conic-gradient(
    from 240deg at 50% 55%,
    var(--primary) 0deg,
    #0087ff 65deg,
    #fb078d 200deg,
    var(--primary) 250deg,
    var(--primary) 300deg,
    var(--primary) 1turn
  );
  opacity: 1;
  opacity: 0.12;
  filter: blur(8rem);
}
.Layout_preview__dBvbE {
  left: 5px;
  z-index: 5;
  bottom: 5px;
  position: fixed;
  background: #63e;
  padding: 12px 15px;
  border-radius: 12px;
}
.Layout_preview__dBvbE p {
  margin: 0;
}
.Layout_preview__dBvbE a {
  font-size: 13px;
}
.Customers_container__BK2ur {
  max-width: 100vw;
  padding-bottom: var(--token-12);
}
.Customers_heading__8vPBv {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
  max-width: 400px;
  margin: 0 auto var(--token-48) auto;
}
.Customers_heading__8vPBv p {
  background: radial-gradient(
    45% 100% at 50% 50%,
    #fff 30%,
    hsla(0, 0%, 100%, 0.4) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (max-width: 999px) {
  .Customers_heading__8vPBv {
    padding: 0 var(--token-24);
    margin: 0 auto var(--token-32) auto;
  }
}
